<div class="homepage">
  <img height="200px" width="200px" src="{{ 'weeklyhow-logo.png' | asset_img_url: 'large' }}" class="logo">
  <h1>Welcome to Shopify Theme Development course!</h1>
  <p>{% render 'homepage-text' %}</p>
</div>